.calendar-container {
  width: 100%;
  margin: 0 auto;
  background-color: #aaa;
}
.day-container {
  width: 65%;
  border-radius: 5px;
  background-color: #fff;
  border: 5px solid #555;
  margin: 10px auto;
  padding: 10px;
}
.day-container:first-child {
  margin: 0 auto;
}
.day-date-container {
  border-right: 2px solid #555;
  width: 100px;
  display: inline-block;
  border-right-width: 85%;
}
.day-of-week {
  text-align: left;
}
.day-date {
  text-align: left;
}
.day-title {
  color: #aaa;
  display: inline-block;
}
.day-note {
  height: 100px;
  background-color: #fff;
  border-top: 2px solid #555;
  border-top-width: 80%;
  padding: 15px;
}
