.title-top {
  width: 65%;
  border-radius: 5px;
  background-color: #2c3e50;
  border: 5px solid #bbb;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.calendar-container {
  width: 100%;
  margin: 0 auto;
  background-color: #ddd;
}
.day-container {
  width: 65%;
  border-radius: 5px;
  background-color: #2c3e50;
  border: 5px solid #bbb;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.day-container:first-child {
  margin: 0 auto;
}
.day-title-brdr {
  background-color: #2c3e50;
  border-bottom: 2px solid #bbb;
  border-bottom-width: 80%;
}
.day-date-container {
  width: 100%;
  display: inline-block;
}
.day {
  text-align: left;
  color: #fff;
  float: left;
  clear: left;
  width: 100px;
  border-right: 2px solid #bbb;
  margin-right: 15px;
}
.day-of-week,
.day-date,
.day-title {
  color: #fff;
  padding-left: 15px;
  text-align: left;
}
.day-note {
  width: 90%;
  height: 100px;
  padding: 5px;
  margin: 10px;
  color: #fff;
  text-align: left;
}
.note-textarea {
  width: 95%;
  height: 105px;
  padding: 5px;
  margin: 5px;
}
