bkc-cont = #DDD
brdr-col = #bbb
bkc-day = #2c3e50
txt-col = #FFF

.title-top
	width 65%
	border-radius: 5px
	background-color bkc-day
	border 5px solid brdr-col
	margin 0 auto
	text-align center
	padding 10px
	color txt-col

.calendar-container
	width 100%
	margin: 0 auto
	background-color: bkc-cont


.day-container
	width 65%
	border-radius: 5px
	background-color bkc-day
	border 5px solid brdr-col
	margin 10px auto
	padding 10px
	text-align center
	&:first-child
		margin 0 auto

.day-title-brdr
	background-color: bkc-day
	border-bottom: 2px solid brdr-col
	border-bottom-width: 80%

.day-date-container
	width 100%
	display: inline-block
	

.day
	text-align: left
	color txt-col
	float left
	clear left
	width 100px
	border-right: 2px solid brdr-col
	margin-right 15px

.day-of-week

.day-date

.day-title
	color txt-col
	padding-left: 15px
	text-align left

.day-note 
	width 90%
	height 100px
	padding 5px
	margin 10px
	color txt-col
	text-align left

.note-textarea
	width 95%
	height 105px
	padding 5px
	margin 5px


